.register .form{
    margin-top: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 12rem;
    align-items: center;
}

.register .form-container{
    flex-direction: column;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .register-btn{
    margin-top: 1rem;
}